<!DOCTYPE html>
<html lang="en">
<head>
          <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Home</title>
</head>
<body>
          <h1> This challange is about Stegnography</h1>
          <h1>Hey hi welcome to CTF home page </h1>
          <h2> Hints:</h2>
          <ul>
                    <li>
                              Go to given links
                    </li>
                    <li>
                              download given image
                    </li>
                    <li>
                              I hide some message inside the image and i forget how to retrive that message can you help me to retrive the message?
                    </li>
                    <li>
                              If you retrive the message i will give you a payout
                    </li>
                    <li> <a href="{{ url_for('static',filename='img/img.jpg') }}">Download here..</a></li>
          </ul>
</body>
</html>