<!DOCTYPE html>
<html lang="en">
<head>
          <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>home</title>
</head>
<body>
          <center>
          <h1> <u>Hey hi welcome to CTF Home page</u></h1>
          <ul>
                    <h2> What happend.... We will see...</h2>
                    <li> yennoda name sunnyleone naaan indha website la oru account vachi irundhan..</li>
                    <li> Neethu login panna try panna but password wrong nu solluthu..</li>
                    <li> Aaana naan correct aana password than poota.. yeen nu theriyala ..</li>
                    <li> Maybe yennoda account ha yaaro hack panni irukanga...</li>
                    <li> Hack pannavan yennoda password ha change pannitan but mail id same than iruku.. :-(</li>
                    <li> Yennoda account ha yaarachi thirumba eduthu kudukka mudiumaa..?? </li>
                    <li> Please.....</li>
                    <li> Yaaro avanooda head ha use panni hack panni irukan nu nenaikran...</li>
          </ul>
          <h2>Yennoda username and password ithu than.. :-(</h2>
          <h1 style="color:red">Username : sunnyleone@sunny.com</h1>
          <h1 style="color:green">password : Sunny@123</h1>
          

          <button>
                    <a href="/login">Login here</a>
          </button>
          </center>
</body>
</html>