<!DOCTYPE html>
<html lang="en">
<head>
          <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Home</title>
</head>
<body>
          <h1> Hi this is Home of our CTF!</h1>
          <h2> Follow the instruction carefully!!</h2>
          <ul>
                    <li>
                              First you goto login  
                    </li>
                    <li>
                              You see unauthorized
                    </li>
                    <li>
                              Now need to find some admin cookies
                    </li>
                    <li>
                              Find admin cookie need to find new link... Oops.. i give the answer try to figure out.....
                    </li>
          </ul>

          <a href="/login">admin Login</a>
</body>
</html>