<!DOCTYPE html>
<html lang="en">
<head>
          <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Dashboard</title>
</head>
<body>
          <center>
                    {{info}}
                    <h1> Welcome admin </h1>
                    <h2> Please make someting and get flag</h2>
                    <form method="" action="/null">
                              <input type="text" name="url" placeholder="Enter something here...!!"><br><br>       
                              <input type="submit" name="btn" value="Get Flag">
                    </form>
                    {{ flag }}
          </center>
</body>
</html>