<!DOCTYPE html>
<html lang="en">
<head>
          <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <link rel="icon" type="image/png" href="http://yuvarajucet.000webhostapp.com/logo.png">
          <meta name="description" content="This is small CTF game contain web,crypto,stegnography chellenges..">
          <meta name="author" content="Yuvaraj a.k.a Mr_3rr0r_501">
          <title>Home</title>
</head>
<body>
          <center>
                    <h1> Welcome back to New CTF...</h1>
                    <h2> Today we will see all the things..</h2>
                    <h2> Okeey..time for Hints.</h2>
          </center>

                    <ul>
                              <p>
                              <li>This is small social media app for post comments about peoples photo or images.</li>
                              <li>You can post your comments..with your own words..</li>
                              <li>And send the link to this admin bot <a href="https://telegram.me/pyctf_bot">CTF-BOT</a>
                              <li>When Admin visit the page you get something intresting..</li>
                              <li>That something will help you to get the superuser access with the help of biscuts..</li>
                              <li>Then goto superuser control panel</li>
                              <li>There is one button like <i><b>Get Flag</b></i> Use your brain to track the button work and get flag</li>
                              <li>But the Flag was Encrpted.. what you do..</li>
                              <li>How to Decrypt the cipher</li>
                              <li>I will give hint..</li>
                              <li>Something diffrent in that posted image so please check..</li>
                              <li>I think the creater of the image is Not correct.</li>
			      <li>Hey... You got a flag right now!..??</li>
                              <li>Kindly send flag to me! :-)</li>
                              <ul>
                                        <li> <b>This is bonus Hint... :P</b></li>
                                        <li> <!-- The encryption type is Vigenere Cipher -->Alwasy inspect</li>
                              </ul>
			      <li><h2> Flag Formate : PY{some_text_here}</h2></li>
                              </p>
                    </ul>
                    <h1> Here your link Get started ===========> <a href="/cmt"> Go-----></a></h1>
</body>
</html>
